.sidebar_recentItem{
display: flex;
font-size: 13px;
color:gray;
font-weight: bolder;
cursor: pointer;
padding:5px;
}
.sidebar_recentItem:hover{
background-color:whitesmoke;
border-radius: 10px;
cursor:pointer;
color:black;
}
.sidebar_hash{
    margin-right: 10px;
    margin-left: 5px;
}